.w100pc {
    width: 100%;
}

.w80pc {
    width: 80%;
}

.ma {
    margin: auto;
}

.mls {
    margin-left: 10px;
}

.mts {
    margin-top: 10px;
}

.c1 {
    color: #0779e4;
}

.c2 {
    color: #fa744f
}

.c3 {
    color: #16817a;
}

.link {
    text-decoration: none;
}

.button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #0779e4;
}

.button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.frow {
    display: flex;
}

.fcol {
    display: flex;
    flex-direction: column;
}

.fjcsb {
    justify-content: space-between;
}

.faic {
    align-items: center;
}

.fgr1 {
    flex-grow: 1;
}

.textInput {
    padding: 10px;
    border-radius: 5px;
}